<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.traidev.shokanjali">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:windowSoftInputMode="adjustResize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        <activity android:name=".ContactNow"></activity>
        <activity android:name=".UploadImage" />
        <activity android:name=".PaymentSuccesfull" />
        <activity
            android:name=".SearchPosts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddNewPost"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginOTP"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateOTP"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddNewPandit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.paytm.pgsdk.PaytmPGActivity"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".checksum" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path"/>
        </provider>


        <service android:name=".Extras.MyFirebaseMesgServices" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <meta-data
            android:name="com.razorpay.Apikey"
            android:value="rzp_live_QuWR92ngFLxEdt"/>

    </application>

</manifest>